.color-nav {
  background-color: #001529
}


.bg {
  background-image: url("background.jpg");
  height: 89vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  overflow:hidden;
}

.last-elem {
  padding-right: 300px;

}

.middle-elem {
  padding-right: 30px;
}

.middle-text {
  color: white;
  font-size: 24px;
  font-family: cursive;
  margin-bottom: 20px;
}

.top-logo {
  margin-left:200px;
}
